<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>


    <p>HomePage</p>
</body>
<%- include('./partials/scripts.ejs') %>
</html>