<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Home</title>
   
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="hero">
        <h1>Welcome to Blogger</h1>
        <p>Discover inspiring stories, breathtaking moments, and the code that powers creativity.</p>
        <a href="/blog/our-blogs"><button class="cta-button">Read Our Blogs</button></a>
    </div>

    <%- include('./partials/scripts.ejs') %>
</body>
</html>
