<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDYT</title>
</head>
<body>
    <h1>HOME</h1>
    <hr><br>
     <h2>Here is your Details</h2>
    <p>Name : <%= userData.userName %></p>
    <p>Email : <%= userData.email %></p>
</body>
</html>